:root {
  --clr-light: #fff1e6;
  --clr-primary: #938b61;
  --clr-secondary: #c78a46;
  --clr-logo: #7fb069;
  --clr-dark: #02020b;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.uiux a,
.webdev a {
  text-decoration: none;
  color: inherit;
}

/* Utility Class */
.text-light {
  color: var(--clr-light);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  color: var(--clr-primary);
  font-weight: 600;
  font-size: 1em;
  width: 12.375rem;
  height: 3.125rem;
  padding: 0 1.375rem;
  background: none;
  border: 3px solid var(--clr-primary);
}

/* CSS */
body {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: var(--clr-dark);
  overflow-x: hidden;
  font-family: "Montserat", sans-serif;
  color: var(--clr-light);
}

body.active {
  background-color: #eef1ff;
  color: #36363e;
}

.container {
  margin: 2rem;
}

nav {
  width: inherit;
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: to-down 1.5s;
}

.logo a {
  color: var(--clr-logo);
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 0.75rem;
}

nav .links {
  display: none;
}

nav a {
  text-decoration: none;
  font-size: 1.25em;
}

nav ul {
  list-style-type: none;
  gap: 4.375rem;
}

nav ul li {
  font-weight: 600;
  position: relative;
}

nav li a::after {
  content: "";
  width: 100%;
  height: 0.188rem;
  transform: scaleX(0);
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
  background-color: var(--clr-primary);
  border-radius: 10px;
}

nav li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.menu-toggle {
  position: relative;
  position: -webkit-sticky;
  top: 5%;
  right: 9%;
  z-index: 9999;
}

.posFix {
  position: fixed;
}

.menu-toggle input {
  position: absolute;
  top: 5%;
  left: -6px;
  width: 50px;
  height: 50px;
  opacity: 0;
  z-index: 999;
  cursor: pointer;
}

.menu-toggle span {
  display: block;
  margin: 10px 0;
  border-radius: 1em;
  width: 3em;
  height: 0.4em;
  background-color: var(--clr-secondary);
  transition: all 0.5s;
}

/* Animation Hamburger menu */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: var(--clr-primary);
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: var(--clr-primary);
  transform: rotate(-48deg) translate(1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: translateX(30px);
}

nav .toggle-darkmode {
  display: flex;
  align-items: center;
  height: 53px;
  width: 5rem;
  background-color: var(--clr-primary);
  border-radius: 30px;
  box-shadow: inset -3px -3px 5px rgba(17, 16, 16, 0.31);
  position: relative;
  cursor: pointer;
}

nav a {
  color: inherit;
}

nav .inner-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: var(--clr-dark);
  box-shadow: 2px 2px 5px rgba(21, 21, 21, 0.25);
  border-radius: 1rem;
  left: 10px;
  transition: all 0.25s ease-in-out;
}

.inner-toggle span {
  user-select: none;
}

nav .active {
  left: 40px;
  background-color: var(--clr-light);
}

section {
  width: inherit;
  margin: 5rem 0;
}

section h1 {
  color: var(--clr-primary);
}

section h1 span {
  font-weight: 300;
}

.page-one h1 span {
  font-weight: inherit;
}

.icons {
  display: flex;
  flex-direction: column;
  gap: 2em;
  animation: to-right 2s;
}

.left-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.left-icons span {
  width: 0.3em;
  height: 8em;
  background-color: var(--clr-primary);
  border-radius: 20px;
  animation: right-bar 1.5s;
}

.left-content {
  display: flex;
  align-items: center;
  gap: 1em;
}

h1 {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 3.125rem;
  animation: navbar 2s;
}

h4 {
  font-weight: 400;
  font-size: 1.5rem;
  animation: navbar 2s;
}

aside {
  position: relative;
}

.profile {
  width: 100%;
  animation: fade 2s;
}

.page-one .container {
  display: grid;
  grid-template-columns: 1fr;
}

.group-card {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin: 2rem;
  justify-content: center;
}

.group-card img {
  width: 100%;
  justify-self: flex-start;
  transition: all 0.15s ease-in-out;
  user-select: pointer;
}

.group-card img .group-card a {
  text-align: center;
}

.group-card img:hover {
  border: 2px solid var(--clr-primary);
  transform: scale(1.1);
  cursor: pointer;
}

.uiux,
.webdev {
  margin-top: 15%;
  position: relative;
}

.webdev {
  margin-top: 5%;
  left: 15%;
}

aside .rounded {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.rounded {
  background: var(--clr-primary);
  position: absolute;
  border-radius: 100%;
  z-index: -9;
  filter: blur(30.5px);
}

.page-one .rounded {
  left: 5rem;
  bottom: 0;
  background: rgba(127, 176, 105, 0.35);
}

.portfolio section .rounded {
  left: -10rem;
  top: -2rem;
  width: 15rem;
  height: 30rem;
  background: rgba(229, 229, 229, 0.19);
}

.portfolio section .rounded:nth-child(4) {
  left: inherit;
  top: inherit;
  right: -10rem;
  bottom: -15rem;
  width: 20rem;
  height: 25rem;
  background: rgba(127, 176, 105, 0.35);
}

.portfolio #webdev .rounded {
  left: inherit;
  top: inherit;
  right: -4rem;
  bottom: 7rem;
  height: 20rem;
  background-color: #996b3a9c;
}

#portfolio section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 5rem;
}

.title_portfolio {
  color: var(--clr-primary);
  font-size: 2rem;
  font-weight: 500;
}

#aboutme {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#aboutme h4 {
  margin: 0;
  padding: 0;
  flex: 1;
}

#aboutme h1 {
  flex: 1;
}

#myskills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#myskills .card-skills {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#myskills img {
  width: 3rem;
  position: relative;
}

#myskills img:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 1rem var(--clr-secondary));
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
  padding: 3.5rem;
  background-color: #03030f93;
  text-align: center;
  color: var(--clr-light);
}

footer h3 {
  flex: 1;
  font-weight: 500;
  font-size: 1.5em;
}

footer .social-media {
  display: flex;
  justify-content: space-around;
  flex: 1;
  margin-top: 2rem;
}

footer a {
  text-decoration: none;
  color: inherit;
  font-weight: 300;
  font-size: 0.8em;
}

footer a:hover {
  color: #fff1e6c2;
}

#btn-top {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  border: none;
  outline: none;
  padding: 0.8rem 1rem;
  border-radius: 1rem;
  background-color: var(--clr-logo);
  font-weight: bold;
  display: none;
  cursor: pointer;
  color: var(--clr-light);
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 900px) {
  nav .links {
    display: flex;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: space-evenly;
    z-index: 99;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }

  nav .links.slide {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Desktop Vieww */
@media (min-width: 900px) {
  nav .links {
    display: flex;
    align-items: center;
  }

  nav .links.slide {
    opacity: 0;
  }

  main {
    margin: 6rem 6.125rem;
  }

  nav {
    margin: 2rem 6.125rem;
  }

  h1 {
    font-weight: 700;
    font-size: 3rem;
  }

  h4 {
    font-weight: 400;
    font-size: 1.5rem;
  }

  nav .links {
    display: inherit;
  }

  nav ul {
    display: inline-flex;
  }
  .menu-toggle {
    display: none;
  }

  .page-one .container {
    grid-auto-flow: column;
    align-items: center;
  }

  .rounded {
    width: 30rem;
    height: 43rem;
  }

  .group-card img {
    transition: all 0.15s ease-in-out;
  }

  .portfolio section .rounded:nth-child(4) {
    width: 40rem;
    height: 45rem;
  }

  #aboutme {
    flex-direction: row;
    text-align: left;
  }

  #myskills {
    flex-direction: row;
    gap: 40%;
    padding-right: 2%;
  }

  #myskills img {
    width: inherit;
  }

  /* #myskills .card-skills {
    padding-right: 5%;
  } */

  footer {
    flex-direction: row;
    text-align: inherit;
  }

  footer a {
    font-size: 1.1em;
  }

  footer .social-media {
    margin-top: 0;
  }
}
/* Animation */

@keyframes to-down {
  0% {
    opacity: 0;
    transform: translateY(-150px);
  }

  100% {
    opacity: inherit;
    transform: translateY(0);
  }
}

@keyframes right-bar {
  from {
    opacity: 0;
    transform: rotate(0deg);
  }

  to {
    opacity: inherit;
    transform: rotate(180deg);
  }
}

@keyframes to-right {
  from {
    opacity: 0;
    transform: translateX(-150px);
  }

  to {
    opacity: inherit;
    transform: translateX(0px);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
